/* ABOUT ME */

.aboutme {
  margin: auto;
  width: 100vw;
  padding-left: $padding;
  padding-right: $padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;

    img {
      flex-basis: 20%;
    }

    a {
      padding: (0.1 * $padding) (1.5 * $padding);
    }
  }

  h2 {
    color: black;
    flex-basis: 100%;
  }

  img {
    border-radius: 50%;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid black;
    margin-right: 2 * $margin;
  }

  a {
    background-color: $green;
    border-radius: 10px;
    color: $white;
    padding: (0.8 * $padding) (1.5 * $padding);
    text-decoration: none;
    // trying to center this button...
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
  }

  h4 {
    text-align: center;
    font-size: 1.2em;
  }

  .biography {
    flex-basis: 60%;
    max-width: 600px;
    text-align: justify;

    &__underline {
      border-bottom: $green 0.4em solid;
      font-weight: 400;
    }
  }
}
