* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 50px;
  width: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  // background-color: red;
  width: 100%;
}

/* MAIN */
.myskills,
.myportfolio,
.aboutme,
.social,
.contactme,
footer {
  padding-top: 2 * $padding;
  padding-bottom: 2 * $padding;

  @media (min-width: $tablet) {
    padding: 3 * $padding;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

//deletes the ugly blue border when btn is focused
button:focus {
  outline: 0;
}
