/* SOCIAL */

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: $dark-gray;
  color: $white;

  h3 {
    text-transform: uppercase;
    font-size: 1.5em;
  }

  &__icons {
    width: 300px;
    display: flex;
    justify-content: center;

    img {
      width: 30px;
      margin: $margin;
    }
  }
}

/* CONTACT ME */

.contactme {
  background-color: $green;
  color: $light-gray;
  margin: auto;
  width: 100vw;
  padding: $padding;
  padding-top: 2 * $padding;

  h2 {
    color: $white;
  }

  .contactform {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    margin: auto;
    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    input {
      padding: $padding;
      background-color: transparent;
      border: 0;
      border-bottom: 0.01em $light-gray solid;
      outline: none;

      &::placeholder,
      &:active {
        color: $light-gray;
        opacity: 1; /* Firefox */
        outline: none;
      }

      @media (min-width: $tablet) {
        flex-basis: 45%;
        margin-right: $margin;
      }
    }
  }

  .sendmessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 600px;
    height: 100%;

    textarea {
      width: 100%;
      border-radius: 10px;
      border: transparent;
    }

    p {
      align-self: flex-start;
      margin-bottom: 0.5 * $margin;
    }

    a {
      margin-top: $margin;
      border-radius: 10px;
      width: 100%;
      background-color: $dark-gray;
      color: $white;
      text-decoration: none;
      font-size: 1.2em;
      // padding: (0.1 * $padding) (1.5 * $padding);
      padding: (0.5 * $padding) (1.5 * $padding);
      font-weight: 500;
      margin-bottom: $margin;
    }
  }
}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.headlinewithlines {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

h2 {
  font-size: 1.5em;
}
.h2pred,
.h2po {
  height: 5px;
  display: block;
  width: 80px;
  background-color: $green;
  content: "";
  margin: 0 $margin;
}
