header {
  display: flex;
  background-color: $white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: $padding;

  h1 {
    margin: 0;
    padding: 0 $padding/2;
  }

  nav {
    display: none;
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
    }

    a {
      padding: $padding ($padding * 2);
      background-color: $text-gray;
      color: $light-gray;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: $green;
        color: $text-gray;
      }
    }
  }

  @media (min-width: $tablet) {
    padding: 0;
    nav {
      display: flex;
    }
    .burger {
      display: none;
    }
  }
}
