/* MY PORTFOLIO */

.myportfolio {
  background-color: $green;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: auto;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    figure {
      margin: 0.3 * $margin;
      flex-basis: 29%;
    }
  }

  h2 {
    flex-basis: 100%;
    color: $white;
  }

  figure {
    font-size: 0.8em;
    background-color: $white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0.1em 0.3em 0.3em 0.1em;
    margin: $margin (2 * $margin);

    img {
      min-height: 120px;
    }

    img,
    figcaption {
      background-color: $light-gray;
      border: 0.3em $white solid;
      text-align: justify;
      padding: $padding;
    }

    h4 {
      font-size: 1.3em;
      margin: 0;
    }

    p {
      padding-left: 2 * $padding;
      padding-right: 2 * $padding;
    }
  }
}
